body{
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.div1{
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    padding: 55px;
    background-color: rgb( 73 , 70 , 70);
    border-radius: 10px;
}
h2{
    text-align: center;
    color: gold;
}
label{
    color: white;
    padding-left: 10px;
    display: block;
}
.inputText{
    width: 350px;
    height: 30px;
    border: none;
    display: block;
    margin: auto;
    border-radius: 2px;
    padding-left: 8px;
}
#button{
    display: block;
    margin: auto;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: blue;
    font-size: 16px;
}